

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  
}

@media  (max-width:1150px) {
  .video-grid{
    grid-template-columns:1fr 1fr 1fr;
  }
}

@media (max-width:850px) {
.video-grid{
  grid-template-columns:1fr 1fr;
}
}

@media (max-width:550px) {
  .video-grid{
    grid-template-columns: 1fr;
  }
  }


.video-thumbnail {
  margin-bottom: 8px;
  overflow: hidden;
  position: relative;
}

.thumbnail {
  width: 100%;
  border-radius: 12px;
  transition: 0.5s all ease-in-out;
}

.thumbnail:hover {
  transform: scale(1.02);
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 35px;
  border-radius: 50px;
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 20px;
}
.channel-name,
.view-count {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 12px;
  color: #969696;
}

.video-time {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: black;
  color: white;
  
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}
